/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  */

body{
    font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   color: rgb(103, 2, 103);
   margin-left: 30px;
   margin-top: 30px;
   background-color:floralwhite;
}

.row{
    float: left;
    width: 100%;
}

.h11{
    color: brown;
}
._nav{
    width: 90%;
    background-color: chartreuse;
    padding: 25px;
}
._a{
    padding-left: 90%;
    margin-top: 0%;
}

/* header */

.tieudeh1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: yellowgreen;
    font-size: 30px;
}
.tieude2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: yellowgreen;
    font-size: 30px;
}
.tieude3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: yellowgreen;
    font-size: 30px;
}

article{
    width: 61%;
    float: left;
    min-height: 400px;
    
} 
.img_article{
    width: 70%;
    height: 30%;
} 

aside{
    width: 35%;
    float: left;
    min-height: 400px;
}

.avata{
    width: 40%;
    height: 20%;
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
}
.name{
    padding: 80px;
    padding-top: 0;
    padding-bottom: 0;
}
.text{
   padding-left: 80px;
   padding-top: 0;
   padding-bottom: 0;
   margin: 0;
}

.img_2{
    width: 90%;
}
.img_3{
    width: 90%;
}
iframe{
    width: 90%;
    height: 1350px;
}
footer{
    background-color: rgb(49, 17, 65);
    text-align: center;
    color: rgb(207, 207, 57);
    
}